.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.card span {
    position: absolute;
    inset: 0;
    background: rgb(255 255 255 / 38%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);

    >h4 {
        margin-top: 10%;
    }
}


@media (min-width:415px) and (max-width:1399px) {
    .card span h4 {
        margin-top: 5%;
    }
}

@media (max-width:414px) {
    .card span h4 {
        margin-top: 0%;
    }
}