.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.card span {
    position: absolute;
    inset: 0;
    background: rgb(255 255 255 / 38%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    font-size: 20px;
    font-weight: 500;
    margin-top: 6%;
}


@media (min-width:415px) and (max-width:1399px) {
    .card span {
        margin-top: 5%;
    }
}

@media (max-width:414px) {
    .card span {
        margin-top: 0%;
    }
}