#calendar .ftco-section {
    padding: 5em 0;
}

#calendar .ftco-no-pt {
    padding-top: 0;
}

#calendar .ftco-no-pb {
    padding-bottom: 0;
}

#calendar .heading-section {
    font-size: 28px;
    color: #000;
}

#calendar .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('./images/bg.jpg');
}

#calendar .elegant-calencar {
    max-width: 700px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
    /* box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#calendar .wrap-header {
    position: relative;
    width: 35%;
    z-index: 0;
}

#calendar .wrap-header:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .5;
    z-index: -1;
}

@media (max-width: 767.98px) {
    #calendar .wrap-header {
        width: 100%;
        padding: 20px 0;
    }
}

#calendar #header {
    width: 100%;
    position: relative;
}

#calendar #header .pre-button,
#calendar #header .next-button {
    cursor: pointer;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
}

#calendar #header .pre-button i,
#calendar #header .next-button i {
    color: #fff;
}

#calendar .pre-button {
    left: 5px;
}

#calendar .next-button {
    right: 5px;
}

#calendar .button-wrap {
    position: relative;
    padding: 10px 0;
}

#calendar .button-wrap .pre-button,
#calendar .button-wrap .next-button {
    cursor: pointer;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    font-size: 18px;
}

#calendar .button-wrap .pre-button i,
#calendar .button-wrap .next-button i {
    color: #cccccc;
}

#calendar .button-wrap .pre-button {
    left: 20px;
}

#calendar .button-wrap .next-button {
    right: 20px;
}

#calendar .head-day {
    font-size: 9em;
    line-height: 1;
    color: #fff;
}

#calendar .head-month {
    font-size: 2em;
    line-height: 1;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

#calendar .calendar-wrap {
    width: 65%;
    /* background: #fff; */
    padding: 40px 20px 20px 20px;
    backdrop-filter: blur(5px);
    background: #00000029;
}

@media (max-width: 767.98px) {
    #calendar .calendar-wrap {
        width: 100%;
    }
}

#calendar {
    width: 100%;
}

#calendar tr {
    height: 3em;
}

#calendar thead tr {
    color: #fff;
    font-weight: 700;
}

#calendar tbody tr {
    color: #fff;
}

#calendar tbody td {
    width: 14%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: relative;
    z-index: 0;
}

#calendar tbody td.active:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: 44px;
    height: 44px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: #000;
    opacity: 0.5;
}

#calendar tbody td:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: 44px;
    height: 44px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
    #calendar tbody td:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#calendar tbody td:hover,
#calendar .selected {
    color: #fff;
    border: none;
}

#calendar tbody td.active time {
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#calendar tbody td.active-fest time {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#calendar tbody td.active-fest:after {
    background-color: #91b5f797;
}

#calendar tbody td.active:after {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('./images/bg.jpg');
}

#calendar tbody td.active {
    font-weight: 900;
    color: #fff !important;
}

#calendar tbody td:hover:after,
#calendar .selected:after {
    background: #2a3246;
}

#calendar tbody td:active {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

#calendar #today {
    color: #fff;
}

#calendar #today:after {
    background: #e13a9d;
}

#calendar #disabled {
    cursor: default;
    background: #fff;
}

#calendar #disabled:hover {
    background: #fff;
    color: #c9c9c9;
}

#calendar #disabled:hover:after {
    background: transparent;
}

#calendar #reset-year {
    left: 0.5em !important;
    right: unset !important;
    top: unset !important;
    bottom: 0.5em;
}

#calendar #reset,
#calendar #reset-year {
    display: block;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: 999;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    padding: 0 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: 11px;
}

#calendar #reset:hover,
#calendar #reset-year:hover {
    color: #fff;
    border-color: #fff;
}

#calendar #reset:active,
#calendar #reset-year:active {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

/* ======================================================================================================= */
.calendar.bg-image {
    position: fixed;
}

#calendar .back-btn {
    position: fixed;
    top: 2%;
    left: 2%;
}

#calendar h2.heading-section p {
    font-size: 0.6em;
    font-style: italic;
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#calendar .festival-span {
    position: fixed;
    bottom: 0;
    /* border: 1px solid; */
    left: 0;
    right: 0;
    padding: 5px;
    color: #91B4F7;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.calendar-splash-container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-splash-text {
    color: #fff;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
    background: #00000052;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#calendar .calendar-title {
    z-index: 1;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    left: 0;
    right: 0;
    text-align: center;
    top: 3%;
    width: 50vw;
    margin: auto;
}