#SongsBook {
    position: relative;
    float: left;
    width: 100%;
    transition: all .5s;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

#day {
    position: absolute;
}

#SongsBook h3 {
    color: #fff;
}

#SongsBook h3.title-text {
    position: relative;
}

#SongsBook .logo {
    position: absolute;
}

#SongsBook h3.title-text span {
    margin-left: 85px;
    color: #fff;
    text-transform: uppercase;
}

#SongsBook .selected-song {
    color: #482307;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

#SongsBook .bg-mint {
    background-color: #7E99A3 !important;
    z-index: 1;
    position: relative;
}


#SongsBook .shadow-bottom {
    box-shadow: 0 4px 10px rgb(0 0 0 / 26%);
}

#SongsBook #background {
    position: relative;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background: gainsboro;
}

#SongsBook .container {
    max-width: 800px;
}

#SongsBook .song-card {
    position: relative;
    margin: 1rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding-top: 40px !important;
    text-align: center;
    color: #5a5a5a;
    font-weight: bold;
    width: 100%;
}

#SongsBook .song-index-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 5px;
    background: #e5e5e55c;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#SongsBook .song-title-text {
    overflow-x: hidden;
    text-overflow: ellipsis;
}


@media(max-width:567px) {
    #SongsBook h3.title-text {
        justify-content: center;
    }

    #SongsBook h3.title-text img {
        margin-right: 35px !important;
    }

    #SongsBook h3.title-text span {
        display: none;
    }
}






/* ========================================================================================================================== */


#SongsBook .menu-popup {
    position: fixed;
    right: 0;
    top: 65px;
    width: 250px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #000;
    z-index: 9;
    background: #fff;
    border-radius: 8px;
}

#SongsBook .menu-popup.active {
    transform: translateX(0px);
}

#SongsBook .menu-popup h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
}

#SongsBook .menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    border-radius: 5px;
}

#SongsBook .menu-item:hover {
    background: rgba(255, 255, 255, 0.2);
}





/* ============================================================================================================================== */
#SongsBook .songs-list-menu {
    width: 250px;
    position: fixed;
    top: 140px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    background: #fff;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#SongsBook .songs-list-menu.active {
    transform: translateX(0px);
}

#SongsBook .songs-list-menu li,
#SongsBook .play-track-menu li {
    list-style-type: number;
    padding: 10px;
    border-bottom: 1px solid gray;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}



/* ================================================================================================================================ */
#SongsBook .play-track-menu {
    width: 250px;
    position: fixed;
    top: 140px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background: #fff;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(4px);
}

#SongsBook .play-track-menu.active {
    transform: translateX(0px);
}


@media(min-width:1200px) {
    #SongsBook .menu_cover {
        display: none;
    }

    #SongsBook .songs-list-menu {
        transform: translateX(0);
    }

    #SongsBook .play-track-menu {
        transform: translateX(0);
    }
}




/* +=================================================== Search Box Css ==================================================================+ */
#SongsBook .search-container {
    position: relative;
}

#SongsBook .search-box {
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
}

#SongsBook .search-box.active {
    width: 250px;
}

#SongsBook .search-results {
    position: absolute;
    top: 50px;
    left: 0;
    width: 280px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
}

#SongsBook .list-group-item {
    cursor: pointer;
    transition: background 0.3s;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}

#SongsBook .list-group-item:hover {
    background: #f1f1f1;
}

#SongsBook .larg-screen-search-menu {
    z-index: 9;
    width: 280px !important;
    border-radius: 10px !important;
    margin-left: -40px !important;
}





/* =============================================== Filter Box Css =============================================================================== */
.filter-option input[type=radio].fullEmpt:active {
    background-position-y: 45px;
    background-position-x: 1px;
}

.filter-option input[type=radio].fullEmpt {
    padding: 0;
    margin: 0;
    height: 32px;
    width: 32px;
    aspect-ratio: 1;
    background: url(../../assets/images/checkbox_icons/radio_buttons.png);
    background-repeat: repeat-y;
    background-size: auto auto !important;
    background-position-y: 164px;
    background-position-x: 1px;
    background-size: cover;
    border-radius: 50%;
    outline-offset: calc(var(--s)/10);
    appearance: none;
    font-size: inherit;
    transition: .15s;
    transform: scale(0.8);
    font-family: Arial, Helvetica, sans-serif;
}

.filter-option input[type=radio].fullEmpt:checked {
    background-position-y: 104px;
    background-position-x: 1px;
}

.filter-option input[type="radio"]:checked::after {
    content: '✔';
    position: absolute;
    inset: 0;
    color: #482307 !important;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* =============================================== Loader Animation ============================================================== */
.songsBook .loader {
    width: 200px;
    height: 140px;
    background: #979794;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    perspective: 1000px;
    position: fixed;
    inset: 0;
    margin: auto;
}

.songsBook .loader:before {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 8px;
    background: #f5f5f5 no-repeat;
    background-size: 60px 10px;
    background-image: linear-gradient(#ddd 100px, transparent 0),
        linear-gradient(#ddd 100px, transparent 0),
        linear-gradient(#ddd 100px, transparent 0),
        linear-gradient(#ddd 100px, transparent 0),
        linear-gradient(#ddd 100px, transparent 0),
        linear-gradient(#ddd 100px, transparent 0);

    background-position: 15px 30px, 15px 60px, 15px 90px,
        105px 30px, 105px 60px, 105px 90px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.songsBook .loader:after {
    content: '';
    position: absolute;
    width: calc(50% - 10px);
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 8px;
    background: #fff no-repeat;
    background-size: 60px 10px;
    background-image: linear-gradient(#ddd 100px, transparent 0),
        linear-gradient(#ddd 100px, transparent 0),
        linear-gradient(#ddd 100px, transparent 0);
    background-position: 50% 30px, 50% 60px, 50% 90px;
    transform: rotateY(0deg);
    transform-origin: left center;
    animation: paging 1s linear infinite;
}


@keyframes paging {
    to {
        transform: rotateY(-180deg);
    }
}






/* ============================================================================== */

.audio-player-container {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 200%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
    margin: auto;
}

.audio-player-container.active {
    transform: translate(-50%, 0%);
}


.audio-player-container button.exit-btn {
    position: absolute;
    right: -2%;
    z-index: 2;
    top: -10%;
    padding: 1px 5px;
    border-radius: 50%;
    background: #761c1c96;
    color: red;
    font-weight: 900;
    border: none;
    cursor: pointer;
    transition: all .15s;
}

.audio-player-container button.exit-btn:hover {
    transform: scale(1.2);
    background: red;
    color: #fff;
}