* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back_cover {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
  z-index: -1;
  opacity: 0;
  transition: all .2s;
}

.back_cover.active {
  z-index: 1;
  opacity: 1;
}